.button{
  background-color: greenyellow;
  margin-left:40px;
  border-radius: 3px;
  border-color: greenyellow;
}
.x-list{
  width: 70%;
  background-color: white;
  border-radius: 4px;
  padding-bottom: 20px;
}
.launchName{
  text-align: center;
}
.attributeList{
  box-sizing: border-box;
  background-color: white;
  width: 200px;
  height: 300px;
  border-radius: 5px;
  list-style: none;
}
.attributeName{
 font-weight: bold;
 font-size: 11px;
 margin-left: 5px;
}
.spacex-content{
  width:30%;
  padding-left: 50px;
}

.blue{
  color: blue;
  text-align: justify;

}
.filter-header{
  background-color: white;
  width:61%;
  border-radius: 4px;
  padding-left: 40px;
  padding-bottom: 10px;
  font-size: 16px;
}


/* For mobile phones: */
[class*="space"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
.spacex-container{
  display:flex;
}
.spacexTile{
  display:flex;
  flex-wrap: wrap;
  width: 60%;
  margin:0;
  padding-left:20px;
  text-align: left;
  float: left;
}
.spacexTile ul{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.spacexTile ul li{
  list-style: none;
  flex: 0 0 50%;
  box-sizing: border-box;
  background-color: white;
  width: 200px;
  height: 300px;
  border-radius: 5px;
}
.spacexTile ul li span{
  padding: 50px;
}
.spacex-content{
  width:30%;
  padding-left: 80px;
}
.launchName{
  text-align: center;
}

.loader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif') 
              50% 50% no-repeat rgb(249,249,249);
}
.button.active{
 background-color: green;
}
}

@media only screen and (min-width: 768px) {
  .spacex-container{
    display:flex;
  }
  .spacexTile{
    display:flex;
    flex-wrap: wrap;
    width: 60%;
    margin:0;
    padding: 0;
    text-align: left;
    float: left;
  }
  .spacexTile ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }
  .spacexTile ul li{
    list-style: none;
    flex: 0 0 50%;
  }
  .spacexTile ul li span{
    padding: 50px;
  }
  .spacex-content{
    width:30%;
    padding-left: 80px;
  }
  .launchName{
   text-align: center;
}
  .loader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif') 
                50% 50% no-repeat rgb(249,249,249);
  }
  .button.active{
   background-color: green;
  }
  }

  
  